html {
    background-color: #afcc90;
}

h3 {
    font-size: 30px;
}

#main-title {
    font-size: 40px;
}

.ingredients {
    color: purple;
}
.steps {
    color: blue;
}
div {
    border: 1px solid black;
    padding: 15px;
    padding-top: 20px;
    margin: 10px;
}

/* Add more CSS here! */